.amigos {
    max-width: 600px;
    margin: 40px auto;
    padding: 16px;
}

mat-card-content p {
  text-align: center;
  margin-top: 16px;
  color: #666;
}

.mi-tabla {
  width: 100%;
}

.mi-header {
  color: rgb(5, 5, 94);
  font-weight: bold;
}
